<template>
<div class="form-organisms">
  <Container>
    <Row class="text-center">
      <Col class="col-12 p-bottom-8">
        <Heading mode="2">Пора расширять способы оплаты Вашего бизнеса</Heading>
      </Col>
      <Col class="col-12 p-bottom-56">
        <Paragraph>Заявка на поключение вашей организации к системе платежей Homebank Scan & Pay</Paragraph>
      </Col>
    </Row>

    <Row class="justify-content-center">
      <Col class="col-12 col-md-8">
        <form action="" class="form-organisms__form">
          <Row>
            <Col class="col-12 col-md-6 m-bottom-24">
              <Select>
                <option class="d-none">Город</option>
                <option>Алматы</option>
              </Select>
            </Col>		
            <Col
              v-for="(item,index) in placeholders"
              :key="index"
              class="col-12 col-md-6 m-bottom-24"
            >
              <Input :placeholder="item.placeholder" type="text" /> 
            </Col>
            <Col class="col-12 col-md-6">
              <Button submit type="submit">Заказать</Button>
            </Col>
          </Row>
        </form>    
      </Col>
    </Row>
  </Container>
</div>    
</template>

<script type="text/javascript">

import placeholders from './helper.js';
import Heading_form from 'Molecules/heading_form';

export default {
  name: 'Form',
  data () {
    return {
      placeholders
    }
  },
  components: {
		Heading_form
  }
}
</script>

<style lang="scss">
@import './style';
</style>