@import '../../atoms/variables/all.scss';

.form-organisms {
	background: url('../../../../assets/images/order-background.png') no-repeat;
	background-size: 145%;
	background-position: 50% 25%;
	background-color: #F7F8F9;
	padding: 64px 0;

	&__form {
		width: auto;
		height: auto;
		padding: 56px 95px 32px 95px;
		background-color: white;
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.07);
		border-radius: 2px;

		@media #{$medium} {
			padding: 56px 45px 32px 45px;
		}
		@media #{$small} {
			padding: 32px 32px 32px 32px;
		}
		@media #{$extra-small} {
			padding: 25px 20px 25px 20px;
		}	
	}
}  