<template>
  <div class="row" :class="{ 'no-gutters': noGutters }">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Row',
  props: {
    noGutters: {
      type: Boolean,
      default: false
    }
  }
}
</script>






