$white: #fff;
$black: #000;

/* header background-color */
$header-color: #061122;

$lightblue: #00a9ff;

/* text */
$text-color: #03034b;

/* button :hover */
$button-hover-light: rgba(0, 169, 255, .1);
$button-hover-dark: #0087cc;

/* link :hover */
$link-hover: #0076b3;

/* input */
$input-border: #b6b8bb;

/* border-bottom color (line between blocks) */
$border-bottom: #cbcbcb;

/* order page background-color */
$order-color: #f7f8f9;

/* form card */
$card-shadow: rgba(0, 0, 0, .07);

