<template>
  <ul 
    class="list"
    :type="propsReturn()">
    <li>{{ title }}</li>
    <li
      v-for="(item, index) in items"
      :key="item.id"
      :class="classReturn()">
      <span v-if="ordered" class="index">
        {{ index + 1 }}.
      </span>
      <Link 
        v-if="type === 'link'"
        :href="item.href">
        {{ item.title }}
      </Link>
      <Input v-else-if="type === 'input'"/>
      <span class="item__text" v-else>{{ item }}</span>
    </li>
  </ul>
</template>

<script type="text/javascript">
export default {
  name: 'List',
  props: {
    type: {
      type: String,
      default: 'text'
    },
    title: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: []
    },
    ordered: {
      type: Boolean,
      default: false
    },
    horizontal: {
      type: Boolean,
      default: false
    },
    marginTop: {
      type: String,
    },
    marginRight: {
      type: String,
    },
    marginBottom: {
      type: String,
    },
    marginLeft: {
      type: String,
    }
  },
  methods: {
    propsReturn () {
      return {
        text: 'text',
        link: 'link',
        input: 'input',
      }[this.type]
    },
    classReturn () {
      return [
        { 
          'd-inline-block': this.horizontal,
        },
        this.marginTop == undefined ? '' : 'm-top-' + this.marginTop,
        this.marginRight == undefined ? '' : 'm-right-' + this.marginRight,
        this.marginBottom == undefined ? '' : 'm-bottom-' + this.marginBottom,
        this.marginLeft == undefined ? '' : 'm-left-' + this.marginLeft
      ] 
      
    }
  }
}
</script>

<style lang="scss">
@import "./style.scss";
</style>