<template>
  <p 
    class="paragraph" 
    :class="propsReturn()"
  >
    <slot></slot>
  </p>
</template>

<script type="text/javascript">
export default {
  name: 'Paragraph',
  props: {
    'main': {
      type: Boolean,
      default: false
    },
    'helper': {
      type: Boolean,
      default: false
    }
  },
  methods: {
    propsReturn () {
      return {
        'paragraph--main': this.main,
        'paragraph--helper': this.helper
      }
    }
  }
}
</script>

<style lang="scss">
@import './style';
</style>


