@import '../variables/all.scss';

.paragraph { 
	font-size: $p-main;
	font-weight: 100;
	color: $text-color;

  @media (min-width: 320px) and (max-width: 768px) {
    font-size: 0.875rem;
    font-weight: 500;
  }

	&--helper {
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		font-size: $p-helper;
		text-align: justify;

		@media (max-width: 992px) {
			font-size: 0.550rem;
		}
	}
}

 