<script>
export default {
  name: 'Heading',
  props: {
    mode: {
      type: String,
      default: '1'
    }
  },
  render: function (createElement) {
    return createElement(
      'h' + this.mode,
      {
        class: 'heading heading--h' + this.mode
      },
      this.$slots.default
    )
  }
}
</script>

<style lang="scss">
@import './style.scss';
</style>


