@import "../variables/all";

.heading {

  &--h1 {
    font-size: $h1;
    line-height: 1.1666;
    font-weight: 500;
    color: #0082a7;

    @media (max-width: 767px) {
      font-size: 1.75rem;
      line-height: 1.1785;
      color: #ffffff;
    }
  }

  &--h2 {
    font-size: $h2;
    line-height: 1.1875;
    font-weight: 100;
    color: $text-color;

    @media (max-width: 767px) {
      font-size: 1.375rem;
      line-height: 1.1818;
      font-weight: 300;
    }

    span {
      color: $lightblue;
    }
  }

  &--h3 {
    font-size: $h3;
    line-height: 1.1818;
    font-weight: 100;
    color: $text-color;

    @media (max-width: 767px) {
      font-size: 1.125rem;
      line-height: 1.1666;
    }
  }

  &--h4 {
    font-size: $h4;
    line-height: 1.1875;
    font-weight: 500;
    color: $text-color;
  }
}