<template>
  <div>
    <section class="p-top-64 p-bottom-64 border-bottom" id="js-connection">
      <Container>
        <Row class="p-bottom-8">
          <Col class="text-center">
            <Heading mode="2">Как подключить услугу партнерам</Heading>
          </Col>
        </Row>
        <Row class="justify-content-center p-bottom-56">
          <Col md="8" class="text-center">
            <Paragraph>Чтобы ваш бизнес начал принимать QR-платежи, достаточно сделать следующее:</Paragraph>
          </Col>
        </Row>
        <Row>
          <Col xs="12" md="6" class="text-left">
            <Heading mode="3" class="p-bottom-8">1. Существующие партнеры Qazkom</Heading>
            <Paragraph class="p-bottom-48">Для существующих эквайринговых партнеров Qazkom установка сервиса приема QR платежей происходит в автоматическом режиме.</Paragraph>
            <Heading mode="3" class="p-bottom-8">2. Новым партнерам</Heading>
            <Paragraph>Чтобы начать принимать QR-платежи, заполните 
              <router-link to="/order">
                <Link>
                  заявку на подключение
                </Link>
              </router-link>
              . Менеджеры команды эквайринга Qazkom незамедлительно свяжутся с вами и помогут заполнить необходимые документы.
            </Paragraph>
          </Col>
          <!-- Image -->
          <Col md="3" class="offset-1">
            <div>
              <img class="connection__image" src="../../../../assets/images/connection-block.png">
            </div>
          </Col>
        </Row>
      </Container>
    </section>
    <section class="p-top-64 p-bottom-64 border-bottom">
      <Container>
        <Row class="p-bottom-56">
          <Col class="text-center">
            <Heading mode="2">Стоимость использования</Heading>
          </Col>
        </Row>

        <Row class="p-bottom-56">
          <!-- Column 1 -->
          <Col xs="12" sm="12" md="4" class="p-top-8">
            <Row>
              <Col xs="3" md="auto">
                <span class="connection__amount p-left-48">
                  0
                </span>
              </Col>
              <Col>
                <Heading mode="4" class="p-bottom-8">Тенге</Heading>
                <Paragraph>Подключение к сервису и <br> установка</Paragraph>
              </Col>
            </Row>
          </Col>
          <!-- Column 2 -->
          <Col xs="12" sm="12" md="4" class="connection__amount--border p-top-8">
            <Row>
              <Col xs="3" md="auto">
                <span class="connection__amount p-left-48">
                  0
                </span>
              </Col>
              <Col class="p-right-24">
                <Heading mode="4" class="p-bottom-8">Тенге</Heading>
                <Paragraph>Дальнейшее<br>обслуживание</Paragraph>
              </Col>
            </Row>
          </Col>
          <!-- Column 3 -->
          <Col xs="12" sm="12" md="4" class="p-top-8">
            <Row>
              <Col>
                <div class="p-left-48">
                  <Heading mode="4" class="p-bottom-8">Комиссии за транзакции</Heading>
                  <Paragraph>согласно индивидуальных условий</Paragraph>
                </div>
              </Col>
            </Row>
          </Col>
        </Row>
        <!-- Button -->
        <Row>
          <Col class="text-center">
            <Button type="button" @click="toggle" con />
          </Col>
        </Row>
        <!-- Paragraph -->
        <Row>
          <Col class="text-center">
            <Paragraph>для подключения к системе Homebank Scan & Pay</Paragraph>
          </Col>
        </Row>
        <!--List -->
        <transition name="docs">
          <Row class="m-top-64 border-top" v-if="show">
            <Col class="p-top-24 p-bottom-24 border-bottom">
              <List 
                :items="[
                  'Заполненная анкета с печатью и подписью.',
                  'Полный пакет учредительных документов: устав, свидетельство о государственной регистрации (перерегистрации), копии удостоверений личности, РНН и ИИН учредителей(-я) и других лиц, имеющих право подписи финансовых документов.',
                  'Карточка с образцами подписей руководителей и оттиска печати. Бланк можно получить в любом отделении банка или скачать с сайта: с печатью или без печати.',
                  'Копии удостоверения личности руководителей, имеющих право подписи финансовых документов.'
                ]"
                ordered/>
            </Col>
          </Row>
        </transition>

      </Container>
    </section>
  </div>
</template>

<script type="text/javascript">

import List from "Molecules/list";
export default {
  name: 'Connection',
  data () {
    return {
      show: false
    }
  },
  methods: {
    toggle () {
      this.show = !this.show
    }
  },
  components: {
    List
  }
}
</script>

<style lang="scss">
@import './style';
</style>