@import "../../atoms/variables/all";

.connection {

    &__amount {
        font-size: 5.375rem;
        line-height: 80px;
        color: $lightblue;

        @media #{$small} {
            font-size: 4.25rem;
        }

        &--border {
            border-right: 1px solid #c8c8c8;
            border-left: 1px solid #c8c8c8;
            
            @media #{$small} {
                border-right: none;
                border-left: none;
            }
        }
    }

    &__image {
        @media #{$small} {
            display: none;
        }

        @media #{$medium} {
            width: 250px;
        }
    }
}

.documents-list {

    &--active {
        display: block;
    }
}