<template>
  <nav class="nav" role="navigation">
    <Container>
      <Row>
        <Col class="static">
          <template v-if="mobile">
            <div @click="show = !show" class="nav__ham d-inline-block d-md-inline-block d-lg-none">
              <span></span>
            </div>
            <router-link to="/">
              <span class="nav__logo" />
            </router-link>
            <div class="nav__menu d-lg-inline-block d-xl-inline-block" :class="{'nav__menu--mobile' : show, 'd-none' : !show}" :aria-expanded="show">
              <template v-if="$route.path == '/order'">
                <template v-for="link in links">
                  <Link 
                    modification="secondary"
                    :key="link.id"
                    :href="'./' + link.href"
                  >
                    {{ link.title }}
                  </Link>
                </template>
              </template>
              <template v-else-if="$route.path == '/'">
                <template v-for="link in links">
                  <Link 
                    modification="secondary"
                    :key="link.id" href="#"
                    v-scroll-to="link.href"
                  >
                    {{ link.title }}
                  </Link>
                </template>
              </template>
            </div>
          </template>
          <template v-if="!mobile">
            <router-link to="/">
              <span class="nav__logo" />
            </router-link>
            <div class="nav__menu d-lg-inline-block d-xl-inline-block" :class="{'nav__menu--mobile' : show, 'd-none' : !show}" :aria-expanded="show">
              <template v-if="$route.path == '/order'">
                <template v-for="link in links">
                  <Link 
                    modification="secondary"
                    :key="link.id"
                    :href="'./' + link.href"
                  >
                    {{ link.title }}
                  </Link>
                </template>
              </template>
              <template v-else-if="$route.path == '/'">
                <template v-for="link in links">
                  <Link 
                    modification="secondary"
                    :key="link.id" href="#"
                    v-scroll-to="link.href"
                  >
                    {{ link.title }}
                  </Link>
                </template>
              </template>
            </div>
          </template>
        </Col>

        <Col xs="auto align-self-center">
          <Link modification="nav" href="https://www.homebank.kz/open/#/users/login">Вход</Link>
        </Col>
      </Row>
    </Container>
  </nav>
</template>

<script type="text/javascript">
export default {
  name: 'Nav',
  data () {
    return {
      mobile: false,
      show: false,
      links: [
        {
          title: 'О Продукте',
          href: '#js-benefits'
        },
        {
          title: 'Владельцам карт',
          href: '#js-steps'
        },
        {
          title: 'Предпринимателям',
          href: '#js-connection'
        }
      ]
    }
  },
  mounted() {
    var mql = window.matchMedia('(max-width: 991px)');
    this.mobile = mql.matches;

    this.$nextTick(() => {
      mql.addListener((e) => {
        if (e.matches) {
          this.mobile = true;
        } else {
            this.mobile = false
        }
      });
    })
  }
}
</script>

<style lang="scss">
@import './style';
</style>