<template>
	<div class="form-order">
		<Container>
			<Heading_form
				heading = "Заказ QR-кода"
				paragraph = 'Мы можем отправить QR-код в электронном виде PNG-файлом,
				а можем в дополнение к нему изготовить для вас печатный QR-код на 
				специальных POS-материалах: тейблтент, бейдж, табличка на прищепке
				и папка для счёта. Кроме этого, в опции "электронный и печатный" 
				есть возможность заказать наклейку на дверь.'
			/>

			<Row class="justify-content-center">
				<Col class="col-12 col-md-8 col-lg-8 col-xl-8">
					<form action="" class="form-order__form">
						<Row>
							<Col class="col-12 text-center m-bottom-8">
								<Heading mode="3">Точка продаж</Heading>
							</Col>
							<Col class="col-12 text-center m-bottom-56">
								<Paragraph>Информация о точке продаж (POS, кассе), которую необходимо оборудовать терминалом.</Paragraph>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-56">
								<Select class="m-bottom-24">
									<option class="d-none">Город</option>
									<option>Алматы</option>
								</Select>
								<Input class="m-bottom-24" placeholder="Торговое название" autocomplete="off" type="text"/>
								<Input class="m-bottom-24" placeholder="Режим работы" type="text"/>
								<Input placeholder="ИИН или БИН компании" type="text"/>
							</Col>		
							<Col class="col-12 col-md-6 m-bottom-56">
								<Input class="m-bottom-24" placeholder="Адрес" type="text"/>
								<Input class="m-bottom-24" placeholder="Вид деятельности" autocomplete="off" type="text"/>
								<Input placeholder="Мобильный телефон" type="text"/>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-56">
								<Heading class="m-bottom-8" mode="4">Вид статического QR-кода</Heading>
								<ul>
									<li>
										<label><Input class="m-right-8" @click="toggle" radio checked type="radio" name="code-info"/>электронный</label>
									</li>
									<li>
										<label><Input class="m-right-8" @click="toggle" radio type="radio" name="code-info"/>электронный и печатный</label>
									</li>
								</ul>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-56">
								<Heading class="m-bottom-8" mode="4">Вид клиента</Heading>
								<ul>
									<li>
										<label><Input class="m-right-8" radio checked type="radio" name="client-info"/>есть счёт юридического лица или POS-терминал в Казкоме</label>
									</li>
									<li>
										<label><Input class="m-right-8" radio type="radio" name="client-info"/>есть счёт в другом банке</label>
									</li>
									<li>
										<label><Input class="m-right-8" radio type="radio" name="client-info"/>нет счёта</label>
									</li>
								</ul>
							</Col>
							<Col class="col-12" v-if="show">
								<Heading mode="4">Печатный QR-код</Heading>
								<Paragraph helper>Укажите виды и количество необходимых POS-материалов с QR-кодом.</Paragraph>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Select>
									<option class="d-none">Тэйблтент</option>
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</Select>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Paragraph helper>Настольный держатель размера А5 для установки на стойке, прилавке или столиках</Paragraph>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Select>
									<option class="d-none">Бейдж</option>
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</Select>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Paragraph helper>Бейдж в формате А7 и лентой для ношения на шее</Paragraph>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Select>
									<option class="d-none">Табличка</option>
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</Select>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Paragraph helper>Табличка размера А5 для крепления на ящике, коробке или трубчатой раме прилавка</Paragraph>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Select>
									<option class="d-none">Папка для счёта</option>
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</Select>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Paragraph helper>Небольшая папка для передачи клиенту счёта за заказ</Paragraph>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-24" v-if="show">
								<Select>
									<option class="d-none">Наклейка на дверь</option>
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</Select>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-56" v-if="show">
								<Paragraph helper>Наклейка с логотипами платёжных систем, для обозначения возможности приёма оплаты через QR-код</Paragraph>
							</Col>

							<Col class="col-12 col-md-6 m-bottom-56">
								<Heading mode="4">Контактное лицо</Heading>
								<Paragraph helper>Информация о том, кто заказывает QR-код от имени юридического лица</Paragraph>
								<Input class="m-bottom-24" placeholder="ФИО" type="text"/>
								<Input class="m-bottom-24" placeholder="janelle@gmail" type="text"/>
								<Input placeholder="Контактный телефон" type="text"/>
							</Col>
							<Col class="col-12 col-md-6 m-bottom-56">
								<Heading mode="4">Реквизиты счёта</Heading>
								<Paragraph helper>На этот счёт будут перечисляться деньги, полученные через QR-код</Paragraph>
								<Input class="m-bottom-24" placeholder="IBAN" type="text"/>
								<Input class="m-bottom-24" placeholder="BIC" type="text"/>
								<Input placeholder="Банк" type="text"/>
							</Col>
							<Col class="col-12 m-bottom-24">
								<ul>
									<li>
										<label><Input class="m-right-16" checkbox checked type="checkbox"/>Гарантирую достоверность и правильность вышеуказанной информации.</label>
									</li>
									<li>
										<label><Input class="m-right-16" checkbox type="checkbox"/>Разрешаем АО «Казкоммерцбанк» обрабатывать предоставленную персональную 
										информацию и производить запросы, связанные с вышеуказанной информацией.</label>
									</li>
								</ul>
							</Col>
							<Col class="col-12 text-center">
								<Button submit type="submit">Заказать</Button>
							</Col>			
						</Row>
					</form>    
				</Col>
			</Row>
		</Container>
	</div>    
</template>

<script type="text/javascript">

import Heading_form from 'Molecules/heading_form';

export default {
	name: 'Order_form',
	components: {
		Heading_form
	},
	data () {
		return {
			show: false
		}
	},
	methods: {
		toggle () {
			this.show = !this.show
		}
	}
}
</script>

<style lang="scss">
@import './style';
</style>