@import '../../atoms/variables/all.scss';

.form-order {
	background: url('../../../../assets/images/order-background.png') no-repeat;
	background-size: cover;
	background-position: 50% ;
	background-color: #F7F8F9;
	padding-top: 147px;
	padding-bottom: 64px;

	&__form {
		width: auto;
		height: auto;
		padding: 56px 95px;
		background-color: white;
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.07);
		border-radius: 2px;

		@media #{$medium} {
			padding: 56px 50px;
		}

		@media #{$small} {
			padding: 56px 50px;
		}

		@media #{$extra-small} {
			padding: 25px 20px;
		}
	}

	li {
		list-style-type: none;
	}

	label {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-weight: 300;
		line-height: normal;
		font-size: 14px;
		text-align: justify;
		
		cursor: pointer;
	}
}