<template>
	<main class="main">
		<Container>
			<Row class="justify-content-center justify-content-sm-end">
				<Col xs="auto">
					<span class="main__cloud text-right">
						<Heading>Безналичная оплата через QR-код</Heading>
						<Paragraph>
              Новый платежный сервис на основе технологии QR 
              платежей по картам Qazkom
            </Paragraph>
					</span>
          <div class="main__mobile">
            <Heading class="m-bottom-8">Безналичная оплата <br> через QR-код</Heading>
            <Paragraph class="m-bottom-48 main__paragraph">
              Новый платежный сервис на основе <br> технологии QR
              платежей по картам Qazkom
            </Paragraph>
          </div>
				</Col>
			</Row>
			<Row class="justify-content-center justify-content-sm-end">
				<Col xs="auto">
					<router-link to="/order">
						<Link modification="main">Заказать QR-код</Link>
					</router-link>
				</Col>
			</Row>
		</Container>
	</main>
</template>

<script type="text/javascript">
export default {
	name: 'Main'
}
</script>

<style lang="scss">
@import './style';
</style>