.main {
	display: block;
	height: auto;
	min-height: 100vh;

	padding-top: 186px;

	background: url('../../../../assets/images/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  
  @media (min-width: 320px) and (max-width: 767px) {
    background-position: right;
    min-height: 70vh;
  }

  &__paragraph {
    @media (min-width: 320px) and (max-width: 767px) {
      color: #fff;
    }
  }

	&__cloud {
		display: block;
    background: #fff;
    
    @media (min-width: 320px) and (max-width: 767px) {
      display: none;
    }

		height: 272px;
		width: 464px;
		padding: 66px 38px 80px;

		border-top-left-radius: 150px;
		border-bottom-left-radius: 150px;
		border-bottom-right-radius: 150px;

		margin-bottom: 24px;
  }
  
  &__mobile {
    display: none;

    @media (min-width: 320px) and (max-width: 767px) {
      display: block;
      text-align: center;
    }
  }
}