<template>
	<div>
		<Order_form />
	</div>
</template>

<script type="text/javascript">
import Nav from 'Organisms/nav';
import Order_form from 'Organisms/order-form';

export default {
	name: 'Order',
	components: {
		Nav,
		Order_form
	}
}
</script>