<template>
  <div>
    <Main />
    <Benefit />
    <Connection />
    <Step />
    <Form />
  </div>
</template>

<script type="text/javascript">
import Main from 'Organisms/main';
import Benefit from 'Organisms/benefits';
import Connection from 'Organisms/connection';
import Step from 'Organisms/steps';
import Form from 'Organisms/form';

export default {
  name: 'Pay',
  components: {
    Main,
    Benefit,
    Connection,
    Step,
    Form
  }
}
</script>