<template>
  <footer>
    <Container class="footer__padding-top">
      <Row class="footer__padding-top footer__padding-bottom footer__text-align">
        <Col xs="12" lg="3" class="footer__smartphone footer__mobile-padding">
          <Heading mode="4">Homebank в Вашем смартфоне</Heading>
          <Link class="d-inline-block m-top-16 m-right-16">
            <img src="../../../../assets/images/AppStore.png" alt="Appstore">
          </Link>
          <Link class="d-inline-block m-top-16">
            <img src="../../../../assets/images/GooglePlay.png" alt="Google Play">
          </Link>
        </Col>
        <Col lg="9">
          <Heading mode="4" class="p-left-16">Call center</Heading>
          <div 
            v-for="(contact, index) in contacts"
            :key="contact.id"
            class="footer__contact p-left-16 p-right-8 d-inline-block"
            :class="{ 'border-right' : (index < contacts.length - 1) }">
            <Heading mode="3">
              {{ contact.heading }}
              <img 
                :src="contact.src" 
                :alt="contact.alt" />
            </Heading>
            <Paragraph>{{ contact.paragraph }}</Paragraph>
          </div>
        </Col>
      </Row>
      <Row class="footer__padding-bottom footer__text-align">
        <Col xs="12" md="6" lg="3" class="footer__mobile-padding">
          <List 
            title="Платежи"
            type="link"
            :items="[
              {title: 'Мобильная связь', href: 'https://www.homebank.kz/open/#/payments/mobile'},  
              {title: 'Карта Онай', href: 'https://www.homebank.kz/open/#/payments/onai'},  
              {title: 'Штрафы ПДД', href: 'https://www.homebank.kz/open/#/payments/pdd'},  
              {title: 'Коммунальные услуги', href: 'https://www.homebank.kz/open/#/payments/main?openCategory=utilities'},  
              {title: 'Остальные платежи', href: 'https://www.homebank.kz/open/#/payments/main'},  
            ]"/>
        </Col>
        <Col xs="12" md="6" lg="3">
          <List 
            title="Переводы"
            type="link"
            :items="[
              {title: 'С карты на карту любых банков РК', href: 'https://www.homebank.kz/open/#/transfers/default'},  
              {title: 'На зарубежную карту', href: 'https://www.homebank.kz/open/#/transfers/international'},  
              {title: 'На банкомат', href: 'https://www.homebank.kz/open/#/transfers/cash'},  
              {title: 'Остальные переводы', href: 'https://www.homebank.kz/open/#/main'},  
            ]"/>
        </Col>
      </Row>
      <Row class="border-top footer__padding-top footer__padding-bottom">
        <Col xs="2" sm="2" md="2" lg="1">
          <div class="footer__qazkom m-right-16">
            <img src="../../../../assets/images/Rectangle 2.png" alt="qazkom">
          </div>
        </Col>
        <Col xs="10" sm="10" md="10" lg="7" class="footer__mobile-padding">
          <Paragraph class="paragraph d-inline-block">
            Лицензия Национального Банка Республики Казахстан <br>
            №1.2.16/222/32 от 02.12.2014г. Copyright 2018 АО "Казкоммерцбанк". <br>
            Все права защищены.
          </Paragraph>
        </Col>
        <Col xs="12" md="12" lg="4" class="footer__text-align">
          <span class="footer__social m-x-8">
            <img src="../../../../assets/images/facebook-small.png" alt="Facebook">
          </span>
          <span class="footer__social m-x-8">
            <img src="../../../../assets/images/vk-small.png" alt="Вконтакте">
          </span>
          <span class="footer__social m-x-8">
            <img src="../../../../assets/images/twitter-small.png" alt="Twitter">
          </span>
          <span class="footer__social m-x-8">
            <img src="../../../../assets/images/ig-small.png" alt="Instagramm">
          </span>
          <span class="footer__social m-x-8">
            <img src="../../../../assets/images/youtube-small.png" alt="Youtube">
          </span>
        </Col>
      </Row>
    </Container>
  </footer>
</template>

<script>

import List from 'Molecules/list';
import contacts from "./helper.js";

export default {
  name: 'Footer',
  data () {
    return {
      contacts
    }
  },
  components: {
    List
  }
}
</script>

<style lang="scss">
@import './style.scss';
</style>
