@import "../../atoms/variables/all";

.footer {

  &__qazkom {
    float:left;
  }

  &__padding-top {
    padding-top: 30px;
  }

  &__padding-bottom {
    padding-bottom: 40px;
  }

  &__mobile-padding {
    @media #{$small} {
      padding-bottom: 24px;
    }

    @media #{$medium} {
      padding-bottom: 24px;
    }
  }

  &__text-align {
    @media #{$small} {
      text-align: center;
    }
  }

  &__contact {
    min-height: 50px;
    
    @media #{$extra-small} {
      margin: 0 auto;
      min-width: 210px;
    }
    
    @media #{$small} {
      min-width: 210px;
    }
  }
}