<template>
  <input 
    class="input" 
    :class="propsReturn()"
    @click="openBlock"
  >
</template>

<script type="text/javascript">
export default {
 name: 'Input',
  props: {
    'radio': {
      type: Boolean,
      default: false
    },
    'checkbox': {
      type: Boolean,
      default: false
    }
  },
  data() {
		return {
			show: false
		}
	},
  methods: {
    propsReturn () {
      return {
        'input--radio': this.radio,
        'input--checkbox': this.checkbox
      }
    },
    openBlock () {
			this.show = !this.show

			this.$emit('click');
		}
  }
}
</script> 

<style lang="scss">
@import './style';
</style>
