@import '../variables/_color.scss';

.input {
	width: 100%;
	padding: 11px 15px 11px 9px;
	background-color: $white;
	color: $black;
	border: 1px solid #B6B8BB;
	border-radius: 2px;
	outline: none;
	line-height: 1rem;
	font-size: 0.875rem;

	&:focus {
		box-shadow: 2px 3px 4px rgba(0,0,0,.15);
		border-color: $lightblue;
	}

	&:hover {
		box-shadow: 2px 3px 4px rgba(0,0,0,.15);
	}

	&--radio {
		min-width: auto;
		appearance: none;
		border-radius: 50%;
        width: 10px;
		height: 10px;
		margin-top: -0.7px;
		border: 2px solid #BCBCBC;
        transition: 0.2s all linear;
		outline: none;
		vertical-align: middle;

		cursor: pointer;

		&:checked {
            background: #000000;
		}

		&:focus {
			border-color: #BCBCBC;
			box-shadow: none;
		}

		&:hover {
			box-shadow: none;
		}
	}

	&--checkbox {
		min-width: auto;
		width: 12px;
		height: 12px;
        transition: 0.2s all linear;
		margin-top: -3px;
		vertical-align: middle;

		cursor: pointer;

		&:focus {
			box-shadow: none;
		}

		&:hover {
			box-shadow: none;
		}
	}
}
 
