<template>
  <select 
    class="select" 
  >
    <slot></slot>
  </select>
</template>

<script type="text/javascript">
export default {
  name: 'Select',
}
</script>

<style lang="scss">
@import './style';
</style>
