@import '../variables/_color.scss';

.select {
	min-width: 100%;
	padding: 11px 15px 11px 9px;
	background-color: $white;
	color: $black;
	border: 1px solid #B6B8BB;
	border-radius: 2px;
	outline: none;
	line-height: 16px;
	font-size: 14px;
	-webkit-appearance: none;
	
	&:focus {
		box-shadow: 2px 3px 4px rgba(0,0,0,.11);
		border-color: $lightblue;
	}

	&:hover {
		box-shadow: 2px 3px 4px rgba(0,0,0,.11);
	}
} 
