/* Museo Sans Cyrillic */
@font-face {
  font-family: 'Museo Sans Cyrillic';
  src: url('../../assets/fonts/Museo/MuseoSansCyrl_100.eot?') format('eot'),
        url('../../assets/fonts/Museo/MuseoSansCyrl_100.otf') format('opentype'),
        url('../../assets/fonts/Museo/MuseoSansCyrl_100.ttf') format('truetype'),
        url('../../assets/fonts/Museo/MuseoSansCyrl_100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
  
@font-face {
  font-family: 'Museo Sans Cyrillic';
  src: url('../../assets/fonts/Museo/MuseoSansCyrl_300.eot?') format('eot'),
        url('../../assets/fonts/Museo/MuseoSansCyrl_300.otf') format('opentype'),
        url('../../assets/fonts/Museo/MuseoSansCyrl_300.ttf') format('truetype'),
        url('../../assets/fonts/Museo/MuseoSansCyrl_300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrillic';
  src: url('../../assets/fonts/Museo/MuseoSansCyrl_500.eot?') format('eot'),
        url('../../assets/fonts/Museo/MuseoSansCyrl_500.ttf') format('truetype'),
        url('../../assets/fonts/Museo/MuseoSansCyrl_500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
