/* pages transition */
.page-enter-active {
  transition: all .2s ease;
}

.page-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.page-enter, .page-leave-to
{
  opacity: 0;
}

/* list of docs transition */
.docs-enter-active {
  transition: all .4s ease;
}

.docs-leave-active {
  transition: all .4s ease;
}

.docs-enter, .docs-leave-to
{
  transform: translateY(-10px);
  opacity: 0;
}