@import '../components/atoms/variables/all';

.uppercase {
  text-transform: uppercase;
}

.text {

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

.border-bottom {
  border-bottom: 1px solid #cbcbcb;
}

.border-top {
  border-top: 1px solid #cbcbcb;
}

.border-left {
  border-left: 1px solid #cbcbcb;
}

.border-right {
  border-right: 1px solid #cbcbcb;

  @media (min-width: 320px) and (max-width: 767px) {
    border-right: none;
  }
}

/*  for margins and paddings examples of classes:
    m-bottom-16 (margin from bottom), 
    p-top-64 (padding from top), 
    p-8 (padding from all sides), 
    m-x-24 (margin from left and right),
    p-y-56 (padding from top and bottom)
    There are 5 spacing size variations: 8, 16, 24, 56 and 64.
    They are described in pixels */
$small-sizes: (8: 0.5, 16: 0.5, 24: 1, 48: 1.5, 56: 1.5, 64: 2);
$sizes: (8: 0.5, 16: 1, 24: 1.5, 48: 3, 56: 3.5, 64: 4);
$sides: (top, bottom, left, right, all, x, y);

@media (min-width: 768px) {
  @each $name, $space in $sizes {
    @each $side in $sides {
  
      @if $side == 'all' {
        .m-#{$name} {
          margin: #{$space}rem;
        }
  
        .p-#{$name} {
          padding: #{$space}rem;
        }
      } @else if $side == 'x' {
        .m-#{$side}-#{$name} {
          margin-left: #{$space}rem;
          margin-right: #{$space}rem;
        }
  
        .p-#{$side}-#{$name} {
          padding-left: #{$space}rem;
          padding-right: #{$space}rem;
        }
      } @else if $side == 'y' {
        .m-#{$side}-#{$name} {
          margin-top: #{$space}rem;
          margin-bottom: #{$space}rem;
        }
  
        .p-#{$side}-#{$name} {
          padding-top: #{$space}rem;
          padding-bottom: #{$space}rem;
        }
      } @else {
        .m-#{$side}-#{$name} {
          margin-#{$side}: #{$space}rem;
        }
  
        .p-#{$side}-#{$name} {
          padding-#{$side}: #{$space}rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  @each $name, $space in $small-sizes {
    @each $side in $sides {
  
      @if $side == 'all' {
        .m-#{$name} {
          margin: #{$space}rem;
        }
  
        .p-#{$name} {
          padding: #{$space}rem;
        }
      } @else if $side == 'x' {
        .m-#{$side}-#{$name} {
          margin-left: #{$space}rem;
          margin-right: #{$space}rem;
        }
  
        .p-#{$side}-#{$name} {
          padding-left: #{$space}rem;
          padding-right: #{$space}rem;
        }
      } @else if $side == 'y' {
        .m-#{$side}-#{$name} {
          margin-top: #{$space}rem;
          margin-bottom: #{$space}rem;
        }
  
        .p-#{$side}-#{$name} {
          padding-top: #{$space}rem;
          padding-bottom: #{$space}rem;
        }
      } @else {
        .m-#{$side}-#{$name} {
          margin-#{$side}: #{$space}rem;
        }
  
        .p-#{$side}-#{$name} {
          padding-#{$side}: #{$space}rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .p-left-48 {
    padding-left: 0;
  }
}

.static {
  position: static !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }
  
  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {

  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-md-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .d-print-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}