<template>
  <div class="container" :class="{ 'container-fluid': fluid }">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Container',
  props: {
    'fluid': {
      type: Boolean,
      default: false
    }
  }
}
</script>






