<template>
	<button
		class="button"
		@click="handleClick"
		:class="propsReturn ()"
	>
		<slot></slot>
	</button>
</template>

<script type="text/javascript">
export default {
	name: 'Button',
	props: {
		'con': {
			type: Boolean,
			default: false
		},
		'submit': {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {
			show: false
		}
	},
	methods: {
		handleClick () {
			this.show = !this.show

			this.$emit('click');
		},
		propsReturn () {
			return {
				'button--connection': this.con,
				'button--showed': this.show && this.con,
				'button--submit': this.submit
			}
    	}
	}
}
</script>

<style lang="scss">
@import './style'
</style>