@import "../../atoms/variables/all";

.button {
	cursor: pointer;
	border: 1px solid $lightblue;
	font-size: 1rem;
  color: $lightblue;  
	font-weight: 500;
  height: 48px;
  border-radius: 2px;
  -webkit-appearance: none;

  @media #{$small} {
    height: 40px;
    font-size: 0.875rem;
  }
  
  &--connection {	    
    min-width: 256px;
    height: 48px;
    margin-bottom: 1.5rem;
    color: $lightblue;	
    background-color: transparent;

    @media #{$small} {
      min-width: 248px;
      height: 40px;
      margin-bottom: 1rem;
    }

    &:before {
      content: 'Показать список документов'
    }
  }

  &--showed {
    &:before {
      content: 'Скрыть список документов'
    }
  }
  
  &:hover {
    background-color: $button-hover-light;
  }

  &--submit {
    min-width: 136px;
    height: 40px;
    background: $white;
    border: 1px solid $lightblue;
    border-radius: 2px;
    color: $lightblue;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer; 

    &:hover {
        background: rgba(0, 169, 255, 0.1);
    }
  }
}



