<template>
  <carousel 
    :per-page="1" 
    :mouse-drag="true" 
    :navigation-enabled="true"
    pagination-active-color="#2d2d2d"
    pagination-color="#9e9e9e"
    :pagination-size="6"
    pagination-padding="0 8"
    navigation-next-label="<svg class='icon icon-keyboard_arrow_right'><use xlink:href='#icon-keyboard_arrow_right'></use></svg>"
    navigation-prev-label="<svg class='icon icon-keyboard_arrow_left'><use xlink:href='#icon-keyboard_arrow_left'></use></svg>"
    class="slider">

    <template v-for="slide in slides">
      <slide>
        <img 
        class="slider__img" 
        :src="mobile ? require('../../../../assets/images/' + slide.srcMobile) : require('../../../../assets/images/' + slide.srcDesktop)" 
        alt="">
        <Container>
          <Row>
            <Col class="static">
              <p class="slider__title">
                <b class="m-bottom-16">{{ slide.title }}</b> 
                {{ slide.text }}</p>
            </Col>
          </Row>
        </Container>
      </slide>
    </template>

    <symbol id="icon-keyboard_arrow_right" viewBox="0 0 24 24">
      <title>keyboard_arrow_right</title>
      <path d="M5.157 21.24l9.187-9.187-9.187-9.187 2.812-2.812 11.999 11.999-11.999 11.999z"></path>
    </symbol>
    <symbol id="icon-keyboard_arrow_left" viewBox="0 0 24 24">
      <title>keyboard_arrow_left</title>
      <path d="M18.843 21.281l-2.812 2.812-12-12 12-12 2.812 2.812-9.187 9.187z"></path>
    </symbol>
  
  </carousel>
</template>

<script type="text/javascript">
import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'Slider',
  data () {
    return {
      mobile: false,
      slides: [
        {
          title: 'Установите',
          text: 'последнюю версию приложения Homebank для Android или iOS',
          srcDesktop: 'step_1.png',
          srcMobile: 'step_1_mobile.png'
        },
        {
          title: 'Авторизуйтесь',
          text: 'в приложении Homebank и перейдите в раздел QR платежей',
          srcDesktop: 'step_2.png',
          srcMobile: 'step_2_mobile.png'
        },
        {
          title: 'Сканируйте',
          text: 'QR-коды для оплаты',
          srcDesktop: 'step_3.png',
          srcMobile: 'step_3_mobile.png'
        }
      ]
    }
  },
  mounted() {
    var mql = window.matchMedia('(max-width: 767px)');
    this.mobile = mql.matches;

    this.$nextTick(() => {
      mql.addListener((e) => {
        if (e.matches) {
          this.mobile = true;
        } else {
            this.mobile = false
        }
      });
    })
  },
  components: {
    Carousel,
    Slide
  }
}
</script>

<style lang="scss">
@import './style';
</style>
