.slider {

  &__img {
    width: 100%;
    z-index: -1;
  }

  .VueCarousel-navigation-prev {
    left: 36px !important;
  }

  .VueCarousel-navigation-next {
    right: 36px !important;
  }

  .icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: #ffffff;
    fill: #ffffff;
  }

  &__title {
    position: absolute;
    top: 50%;
    width: 35ch;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.1785;
    transition: all 300ms ease;

    @media (max-width: 767px) {
      font-size: 0.875rem;
      line-height: 1.1428;
      width: 23ch;
      margin-left: 30px;
    }

    b {
      display: block;
      font-size: 2.125rem;
      line-height: 1.1764;
      font-weight: 900;
      
      @media (max-width: 767px) {
        font-size: 1.25rem;
        line-height: 1.15;
      }
    }
  }
}