<template>
	<Row class="justify-content-center text-center">
		<Col class="col-12 p-bottom-8">
			<Heading mode="2">{{heading}}</Heading>
		</Col>
		<Col class="col-12 col-md-8 p-bottom-56">
			<Paragraph>{{paragraph}}</Paragraph>
		</Col>
	</Row>
</template>

<script type="text/javascript">
export default {
	name: 'Heading_form',
	props: {
		heading: {
			type: String,
			default: ''
		},
		paragraph: {
			type: String,
			default: ''
		}
	} 
}
</script>
