<template>
  <a class="link" :class="propsReturn()">
    <slot></slot>
  </a>
</template>

<script>
export default {
  name: 'Link',
  props: {
    modification: {
      type: String,
      default: 'normal'
    },
  },
  methods: {
    propsReturn () {
      return {
        normal: 'link--normal',
        main: 'link--main',
        secondary: 'link--secondary',
        nav: 'link--nav',
      }[this.modification]
    }
  }
}
</script>

<style lang="scss">
@import 'style.scss';
</style>


