@import '../variables/_color.scss';

.link {
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;

  @media (min-width: 320px) and (max-width: 768px) {
    font-size: 0.875rem;
  }

  &--normal {
    font-weight: 300;
    color: $lightblue;
  
    &:hover {
      color: $link-hover;
    }
  }
  
  &--main {
    display: inline-block;
    font-weight: 500;
    padding: 1rem;
    min-width: 304px;
    min-height: 56px;
    color: $white;
    border: 0;
    border-radius: 2px;
    background-color: $lightblue;

    @media (min-width: 320px) and (max-width: 768px) {
      min-width: 152px;
    }
  
    &:hover {
      text-decoration: none;
      background-color: $button-hover-dark;
    }
  }

  &--nav {
    display: inline-block;
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: $white;
    border: 0;
    border-radius: 2px;
    background-color: $lightblue;
    min-width: 100px;
    min-height: 40px;

    @media (min-width: 320px) and (max-width: 768px) {
      min-width: 52px;
      min-height: 32px;
    }
  
    &:hover {
      text-decoration: none;
      background-color: $button-hover-dark;
    }
  }
  
  &--secondary {
    font-weight: 300;
    padding: 0.5rem 1rem;
    color: $white;
  
    &:hover {
      color: $lightblue;
    }
  }
}



