<template>
  <section class="p-top-64 p-bottom-64 border-bottom" id="js-steps">
    <Container>
      <Row>
        <Col class="text-center">
          <Heading mode="2" class="m-bottom-8">Как пользоваться <span>Homebank Scan & Pay</span> владельцам карт Visa QAZKOM</Heading>
          <Paragraph class="m-bottom-56">Чтобы воспользоваться сервисом Homebank Scan & Pay достаточно совершить следующие шаги:</Paragraph>
        </Col>
      </Row>
    </Container>
    <Slider />
  </section>
</template>

<script>
import Slider from 'Molecules/slider';

export default {
  name: 'Step',
  components: {
    Slider
  }
}
</script>
