<template>
  <div :class="propsReturn()">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Col',
  props: {
    col: {
      type: Boolean,
      default: true
    },
    xs: String,
    sm: String,
    md: String,
    lg: String,
    xl: String
  },
  methods: {
    propsReturn () {
      return [
        { 'col': this.col},
        this.xs == undefined ? '' : 'col-' + this.xs,
        this.sm == undefined ? '' : 'col-sm-' + this.sm,
        this.md == undefined ? '' : 'col-md-' + this.md,
        this.lg == undefined ? '' : 'col-lg-' + this.lg,
        this.xl == undefined ? '' : 'col-xl-' + this.xl 
      ]
    }
  }
}
</script>


