<template>
	<div>
		<Nav />
		<transition name="page">
			<router-view></router-view>
		</transition>
		<Footer />
	</div>
</template>

<script type="text/javascript">
import Nav from 'Organisms/nav';
import Footer from 'Organisms/footer';

export default {
	name: 'App',
	components: {
		Nav,
		Footer
	}
}
</script>