<template>
  <section class="benefits p-top-64 p-bottom-8 border-bottom" id="js-benefits">
    <Container>
      <Row class="p-bottom-56">
        <Col class="text-center">
          <Heading mode="2">Homebank Scan & Pay - это удобно</Heading>
        </Col>
      </Row>
      <Row class="justify-content-center p-bottom-48">
        <Col md="8" xs="12" class="text-center m-bottom-8">
          <Paragraph>Новая технология позволит совершать оплату любых товаров и услуг в торговых точках не используя кредитки или наличные средства. Технология QR платежей создана для быстрой и простой оплаты необходимых товаров и услуг, исключая использование покупателем POS-терминала. Оплата через QR - Это безналичная оплата товаров и услуг через приложение в телефоне.</Paragraph>
        </Col>
      </Row>
      <Row class="justify-content-center">
        <Col md="2" xs="12" class="text-center m-bottom-56">
          <img class="d-none d-md-inline-block" src="../../../../assets/images/simple.png" alt="simple">
          <Heading mode="4" class="uppercase m-bottom-16">Просто</Heading>
          <Paragraph>Просканируйте QR-код, чтобы расплатиться за услугу или товар.</Paragraph>
        </Col>
        <Col md="2" xs="12" class="text-center offset-md-1 m-bottom-56">
          <img class="d-none d-md-inline-block" src="../../../../assets/images/secure.png" alt="secure">
          <Heading mode="4" class="uppercase m-bottom-16">Безопасно</Heading>
          <Paragraph>Укажите стоимость. Оплата защищена банком и платёжной системой.</Paragraph>
        </Col>
        <Col md="2" xs="12" class="text-center offset-md-1 m-bottom-56">
          <img class="d-none d-md-inline-block"  src="../../../../assets/images/free.png" alt="free">
          <Heading mode="4" class="uppercase m-bottom-16">Бесплатно</Heading>
          <Paragraph>Оплатите покупку через QR-код без скрытых комиссий.</Paragraph>
        </Col>
      </Row>
    </Container>
  </section>
</template>

<script type="text/javascript">
export default {
  name: 'Benefit'
}
</script>